.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  border-bottom: 2px dashed #eee;
  font-family: Arial, serif;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Item-actions button {
  background-color: #3c8314;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.Item-actions button:hover {
  background-color: #275a0b;
}
